[Unit]
Description=User SSH Agent
After=network.target

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/find ~/.ssh -type f -name 'id*' -not -name "*.pub" -exec ssh-add {} \;
RemainAfterExit=yes

[Install]
WantedBy=default.target

